* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

h1 { 
  text-align: center;
}

h2 {
  padding: 20px 20px 25px 20px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  background-color: #ffecb7;
  padding: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.contact-icon {
  height: 50px;
  width: 50px;
}

.footer {
  margin-top: 35px;
}
